<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinter"
	stopOnFailure="true"
>
	<php>
		<env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true" />
		<ini name="display_errors" value="true"/>
		<ini name="display_startup_errors" value="true"/>
	</php>

	<testsuites>
		<testsuite name="default">
			<directory suffix=".test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>